# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Terraform local plugins and state
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Binaries and large images
*.exe
*.png